path:hover{
	fill: green;
}

#map{
	width: 60%;
	display: block;
	float: left;
}

svg{
	margin: 0 auto;
}

.box-visible{
	width: 150px;
	height: 150px;
	border: 1px solid #cccccc;
	background-color: #cccccc;
	opacity: 0.8;
	border-radius: 5px;
}

#fire_selector_box{
	width: 30%;
	float: right;
}
li{
	list-style-type: none;
}
a{
	text-decoration: None;
}