*{
	font-family: 'Roboto', sans-serif;
}
path:hover{
	fill: green;
}

#map{
	width: 1000px;
	display: block;
	margin: 20px auto;
}

svg{
	margin: 0 auto;
	width: 1000px;
}

.box-visible{
	width: 150px;
	height: 150px;
	border: 1px solid #cccccc;
	background-color: #cccccc;
	opacity: 0.8;
	border-radius: 5px;
}

/* #fire_selector_box{
	width: 30%;
	float: right;
} */
li{
	list-style-type: none;
}
a{
	text-decoration: None;
}

#fire_selector_box button{
	outline: none;
	border-radius: 1rem;
	margin: 10px;
	font-size: large;
}

#fire_selector_box li{
	display: inline;
}

/* #selected_fire{
	background-color: #B794F6;
	border-radius: 1rem;
	width: 300px;
	padding: 3px;
	margin: 0 auto;
	font-size: large;
} */

header h1{
	margin: 20px auto 0 auto;
	width: 500px;
}

footer{
	font-size: smaller;
}

.selected_button{
	background-color: royalblue;
}